{% extends 'newsapp/base.html' %}

{% block content %}

<article class="post-article">

    <h1>{{ post.title }}</h1>
    <div class="post-photo-text">
        {% if post.photo %}
        <img src="{{ post.photo.url }}">
        {% endif %}
        {% autoescape off %}
<!--        <p>{{ post.content|linebreaks }}</p>-->
        <p>{{ post.content }}</p>
        {% endautoescape %}
    </div>
</article>

<div class="post-comments">
    <h2>Комментарии</h2>
    {% if post_comments %}
    {% for comment in post_comments %}
    <div class="comment-username">
        {{ comment.user.username }} {{comment.time_create|date:"d:m:Y"}} в {{comment.time_create|date:"H:i"}}
        написал(а):
    </div>
    <div class="comment-text">
        {{ comment.comment }}
    </div>
    {% endfor %}
    {% else %}
    <div class="comment-text">
        Еще никто не оставил комментарий под этой новостью. Вы будете первым!
    </div>
    {% endif %}



    <div class="comment-add">
        <form class="comments-form" action="." method="post">
            {% csrf_token %}
            {% for f in form %}
            {{ f }}
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button class="form-button" type="submit">Отправить</button>
        </form>
    </div>
</div>

{% endblock %}