@import"reset.css";

body {
    font-family: 'Roboto', sans-serif;

}

a,
a.text:active,
a.text:hover,
a.text {
    text-decoration: none;
    color: #000000;
}


/* ---- basic markup ----- */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 300px;
    background-color: #212121;
    /* align-items: center; */
}

.header {
    background-color: #212121;
    box-sizing: border-box;
    min-height: 45px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

.main {
    width: 100%;
    padding-top: 42px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #212121;
    min-height: 40px;
}

@media screen and (max-width: 700px) {
    .header {
        position: static;
    }

    .main {
        padding-top: 0px;
        /* padding-top: 202px; */
    }


}


/* ---- header ----- */

.header-navigation {
    width: 100%;
}

.header-navigation-list {
    width: 100%;
    /* width: 100%; */
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.header-navigation-list li {
    color: rgba(255, 255, 255, 0.7);
}

.header-navigation-list img {
    margin-top: 3px;
}

.header-navigation-textlink {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header-navigation-textlink:hover {
    color: rgba(255, 255, 255, 0.959);
}

.header-navigation li a img {
    height: 30px;
}

.header-navigation-expand {
    display: none;
    width: 25px;
    margin-top: 0px;
}

.reversed {
    transform: scale(1, -1)
}

@media screen and (max-width: 700px) {
    .header-navigation-list {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        font-size: 1.2em;
        margin: 20px 0px;
    }

    .header-navigation li a img {
        height: 40px;
        margin-right: 0px;
    }

    .header-navigation-textlink {
        margin-left: 0px;
    }

    .header-navigation-list {
        gap: 0px;
    }

    .header-navigation-textlink-hide {
        display: none;
    }

    .header-navigation-expand {
        display: block;
        padding-top: 10px;
    }

}


/* ---- main page articles ----- */

.main-grid {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: minmax(100px, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: start;
    height: min-content;
}

.main-article {
    box-sizing: border-box;
    border-radius: 15px;
    height: 200px;
    background-color: #212121;
    transition: 0.5s;
}

.main-article:hover {
    transition: 0.5s;
    transform: scale(1.004);
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 405px;
}

.main-article-post {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.first-post img {
    width: 100%;
}

.main-article-post h2 {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 15px;
    right: 15px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 1200px) {
    .main-grid {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .item-1 {
        grid-column: auto;
        grid-row: auto;
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    .main-grid {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }

    .item-1 {
        grid-column: auto;
        grid-row: auto;
        height: 200px;
    }
}


/* ---- footer ----- */

.footer {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.7);
}

.footer-container {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.footer a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}


.footer a:hover {
    color: rgba(255, 255, 255, 0.895);
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 30px;
}


/* ---- post page ----- */

.post-article {
    display: flex;
    flex-direction: column;
    background-color: #373737;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    flex-grow: 1;
    align-items: center;
}

.post-article h1 {
    font-size: 1.4em;
    color: #e0e6f0;
    text-align: center;
    line-height: 1.3;
}

.post-article p {
    text-align: justify;
}

.post-photo-text {
    display: flex;
    flex-direction: column;
}

.post-photo-text p {
    font-size: 1em;
    color: #e0e6f0;
    word-wrap: break-word;
    line-height: 1.5;
    margin-top: 15px;
}

.post-photo-text img {
    width: 50%;
    margin-top: 20px;
    align-self: center;
}

.post-photo-text br {
    display: block;
    margin: 20px 0px;
}

@media screen and (max-width: 700px) {
    .post-photo-text img {
        width: 100%;
    }
}

/* ---- post comments ----- */

.post-comments h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
}

.post-comments {
    display: flex;
    flex-direction: column;
    background-color: #373737;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    flex-grow: 1;
    align-items: flex-start;
    font-size: 1em;
    color: #e0e6f0;
    text-align: justify;
    line-height: 1.3;

}

.comment-username {
    margin-top: 15px;
}

/* ---- 404 page ----- */

.not-found-flex {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.not-found-flex div img {
    width: 400px;
    margin-bottom: 50px;
}


/* ---- up scroll button ---- */

.up-button {
    display: flex;
    position: fixed;
    box-sizing: border-box;
    background-color: #212121;
    width: 50px;
    height: 50px;
    z-index: 6;
    right: 10px;
    bottom: 50px;
    border-radius: 50%;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 7px;
    opacity: 0;
}

.up-button:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.up-button-hide {
    opacity: 1;
}

/* ---- feedback form ---- */

.feedback-form p {
    align-self: center;
}

.feedback-form {
    display: flex;

    flex-direction: column;
    box-sizing: border-box;
    font-size: 1.2em;
    /* color: rgba(255,255,255,0.7); */
    color: #e0e6f0;
    padding: 0px;
    justify-content: center;
    align-items: stretch;
    margin-top: 150px;
    /* width: 500px; */
}


.feedback-form .form-input {
    line-height: 1.5;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
    resize: none;
    padding: 5px;
    padding-left: 10px;
    /* width: 500px; */
    /* min-width: 100px; */
    border: 0;
    box-shadow: 0 0 15px 4px rgba(128, 128, 128, 0.06);
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}


.feedback-form .form-button {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
    /* width: 500px; */
    /* min-width: 100px; */
    padding-left: 10px;
    border: 0;
    border-radius: 15px;
    height: 30px;
    background-color: #fe4d00;
    color: #fff;
}


.feedback-form .form-input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.feedback-form .form-input:focus {
    color: #212529;
    ;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.742);
}


.feedback-form .form-button:focus {
    color: #212529;
    /* background-color: #fff; */
    background-color: #fe4c00de;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.742);
}


.feedback-form .form-button:hover {
    background-color: #fe4c00ba;
    border-color: #74361cbd;
}

.form-error .errorlist li {
    margin-top: 10px;
}



/* ---- login/register form ---- */

.login-form p {
    align-self: center;
}

.login-form {
    display: flex;

    flex-direction: column;
    box-sizing: border-box;
    font-size: 1.2em;
    /* color: rgba(255,255,255,0.7); */
    color: #e0e6f0;
    padding: 0px;
    justify-content: center;
    align-items: stretch;
    margin-top: 150px;
    /* width: 500px; */
}


.login-form .form-input {
    line-height: 1.5;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
    resize: none;
    padding: 5px;
    padding-left: 10px;
    /* width: 500px; */
    /* min-width: 100px; */
    border: 0;
    box-shadow: 0 0 15px 4px rgba(128, 128, 128, 0.06);
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}


.login-form .form-button {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 15px;
    height: 30px;
    padding-left: 10px;
    border: 0;
    border-radius: 15px;
    height: 37px;
    background-color: #fe4d00;
    color: #fff;
}


.login-form .form-input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.login-form .form-input:focus {
    color: #212529;
    ;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.742);
}


.login-form .form-button:focus {
    color: #212529;
    /* background-color: #fff; */
    background-color: #fe4c00de;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.742);
}


.login-form .form-button:hover {
    background-color: #fe4c00ba;
    border-color: #74361cbd;
}


.form-error .errorlist li {
    margin-top: 10px;
}


/* ---- comments form ---- */


.comment-add {
    display: flex;
    width: 100%;
}


.comments-form p {
    align-self: center;
}

.comments-form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 1.2em;
    /* color: rgba(255,255,255,0.7); */
    color: #e0e6f0;
    padding: 0px;
    justify-content: center;
    align-items: stretch;
    margin-top: 10px;
    width: 100%;
    height: 250px;
}


.comments-form .form-input {
    line-height: 1.5;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 10px;
    resize: none;
    padding: 5px;
    padding-left: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(128, 128, 128, 0.06);
    border-radius: 15px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
}


.comments-form .form-button {
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin-top: 15px;
    height: 30px;
    padding-left: 10px;
    border: 0;
    border-radius: 15px;
    height: 37px;
    background-color: #fe4d00;
    color: #fff;
}


.comments-form .form-input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.comments-form .form-input:focus {
    color: #212529;
    ;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.742);
}


.comments-form .form-button:focus {
    color: #212529;
    /* background-color: #fff; */
    background-color: #fe4c00de;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.742);
}


.comments-form .form-button:hover {
    background-color: #fe4c00ba;
    border-color: #74361cbd;
}


.comments-form .errorlist li {
    margin-top: 10px;
}