@import"reset.css";

body {
    font-family: 'Roboto', sans-serif;

}

a,
a.text:active, 
a.text:hover,
a.text {
  text-decoration: none;
  color: #000000;
}


/* ---- basic markup ----- */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 300px;
    background-color: #212121;
}

.header {
    background-color: #212121;
    box-sizing: border-box;
    min-height: 45px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
}

.main {
    padding-top: 42px;
    flex-grow: 1;
    display: flex;
}

.footer {
    background-color: #212121;
    min-height: 40px;
}




@media screen and (max-width: 700px) {
    .header {
        position: static;
    }

    .main {
        padding-top: 0px;
        /* padding-top: 202px; */
    }
}


/* ---- header ----- */


.header-navigation {
    width: 100%;
}

.header-navigation-list {
    width: 100%;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
}


.header-navigation-list img{
    margin-top: 3px;
}

.header-navigation-textlink {
    /* margin-left: 20px; */
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header-navigation-textlink:hover {
    color: rgba(255, 255, 255, 0.959);
}

.header-navigation li a img {
    height: 30px;
    /* margin-right: 150px; */
}

@media screen and (max-width: 700px) {
    .header-navigation-list {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        font-size: 1.2em;
        margin: 20px 0px;
    }

    .header-navigation li a img {
        height: 40px;
        margin-right: 0px;
    }

    .header-navigation-textlink {
        margin-left: 0px;
    }

}


/* ---- main page articles ----- */

.main-grid {
    margin: 5px;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: minmax(100px, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: start;
    height: min-content;
    /* width: 100%; */
}



.main-article {
    box-sizing: border-box;
    /* border: 1px solid black; */
    border-radius: 15px;
    height: 200px;
    background-color: #212121;
    transition: 0.5s;
}

.main-article:hover {
    transition: 0.5s;
    transform: scale(1.004);
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    height: 405px;
}



.main-article-post {
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.first-post img{
    width: 100%;
}

.main-article-post h2{
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 15px;
    right: 15px;
    color: white;
    text-shadow: 1px 1px 2px black;
}



@media screen and (max-width: 1200px) {
    .main-grid {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .item-1 {
    grid-column: auto;
    grid-row: auto;
    height: 200px;
    }
}


@media screen and (max-width: 700px) {
    .main-grid {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
    }

    .item-1 {
    grid-column: auto;
    grid-row: auto;
    height: 200px;
    }
}


/* ---- footer ----- */

.footer {
    display: flex;
    justify-content: space-between;
    color: rgba(255,255,255,0.7);
}

.footer-container {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255,255,255,0.7);
}

.footer a{
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}


.footer a:hover{
    color: rgba(255, 255, 255, 0.895);
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 30px;
}


/* ---- post page ----- */

.post-article {
    display: flex;
    flex-direction: column;
    background-color: #373737;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
    flex-grow: 1;
    align-items: center;
}

.post-article h1 {
    font-size: 1.4em;
    color: #e0e6f0;
    text-align: center;
    line-height: 1.3;
}

.post-article p {
    text-align: justify;
}

.post-photo-text {
    display: flex;
    flex-direction: column;
}

.post-photo-text p{
    font-size: 1em;
    color: #e0e6f0;
    word-wrap: break-word;
    line-height: 1.5;
    margin-top: 15px;
}

.post-photo-text img{
    width: 50%;
    margin-top: 20px;
    align-self: center;
}

.post-photo-text br{
    display: block;
    margin: 20px 0px;
}








/* ---- 404 page ----- */
.not-found-flex{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
}

.not-found-flex div img{
    width: 400px;
    margin-bottom: 50px;
}


/* ---- up scroll button ---- */

.up-button {
    display: block;
    position: fixed;
    box-sizing: border-box;
    background-color: #212121;
    width: 50px;
    height: 50px;
    z-index: 6;
    right: 10px;
    bottom: 50px;
    border-radius: 15px;
    font-size: 2.5em;
    text-align: center;
    color: rgba(255,255,255,0.7);
    margin: auto;
    opacity: 0;
    /* box-shadow: 1px 1px 2px; */
}


.up-button:hover {
    border: 1px solid rgba(255,255,255,0.7);
}

.up-button-hide {
    opacity: 1;
}