{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/newsapp/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'newsapp/images/ico_bgd.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <nav class="header-navigation">
            <ul class="header-navigation-list">
                <li><a class="header-logo" href="{% url 'index' %}"><img src="{% static 'newsapp/images/logo.png' %}"
                                                                         alt="newsrage-logo"></a></li>
                {% for category in categories %}
                <li><a class="header-navigation-textlink" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main class="main">
        <a href="">
            <div class="up-button no-show-button">↑</div>
        </a>
        {% block content %}

        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-copyright">
                <p>&copy; 2023 NEWSRAGE Inc.</p>
            </div>
            <div class="footer-contacts">
                {% for m in footer_menu %}
                <p><a href="{% url m.path_name %}">{{ m.title }}</a></p>
                {% endfor %}
            </div>
        </div>
    </footer>
</div>

</body>

</html>
